:root {
  --brand: #2774ae;
  --brand-text: #cccccc;
  --bg-page-body: #e1eef8;
  --bg-info: #0dcaf0;
}

.navHeight {
  height: 60px;
}
.brandTheme {
  background: var(--brand);
}

.bg-page-body {
  background: var(--bg-page-body);
}

.pageHeight{
  min-height: calc(100vh - 60px);
  height: 100%;
  margin-top: 60px;
}

.beforeIcon {
  position: absolute;
  margin-left: -3%;
  z-index: 2;
  border: 3px solid var(--bg-info);
  padding: 5px;
  border-radius: 15px;
  color: var(--brand);
  background-color: var(--bg-page-body);
}
.beforeStyle {
  width: 90%;
}
.beforeStyle::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--bg-info);
  margin-left: -2%;
  position: absolute;
}
.card.projectCards {
  height: 14rem;
}
.projectCards:hover {
  border: 2px solid var(--brand);
  /* opacity: 0.4; */
  /* color: white; */
}