:root {
  --brand: #2774ae;
  --brand-text: #ffffff;
  --bg-page-body: #e1eef8;
  --bg-info: #0dcaf0;
}
/* ---common style-start----- */
button.btn-outline-info, button.btn-outline-info:first-child:active {
  border-color: var(--brand);
  color: var(--brand) ;
}
button.btn-info,button.btn-info:hover, button.btn-outline-info:hover, button.btn-info:first-child:active {
  background-color: var(--brand);
  color: var(--brand-text) ;
  border-color: var(--brand) ;
}
/* ---common style-end----- */
.navHeight {
  height: 60px;
}
.brandTheme {
  background: var(--brand);
}

.bg-page-body {
  background: var(--bg-page-body);
}

.pageHeight{
  min-height: calc(100vh - 60px);
  height: 100%;
  margin-top: 60px;
}

.beforeIcon {
  position: absolute;
  margin-left: -3%;
  z-index: 2;
  border: 3px solid var(--bg-info);
  padding: 5px;
  border-radius: 15px;
  color: var(--brand);
  background-color: var(--bg-page-body);
}
.beforeStyle {
  width: 90%;
}
.beforeStyle::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--bg-info);
  margin-left: -2%;
  position: absolute;
}
.card.projectCards {
  height: 14rem;
}
.projectCards:hover {
  border: 2px solid var(--brand);
}


.mobileImgStyle img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--brand);
}

@media screen and (max-width: 574px){
  .mobileImgStyle {
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
 
  .landingText {
    text-align: center;
  }
  .navHeight .container {
    padding: 0;
    padding: 0;
    max-width: 100%;
  }

  .navHeight .navbar-text {
    margin-left: 1rem;
  }
  .navHeight .navbar-toggler {
    margin-right: 1rem;
  }

  .navHeight .navbar-toggler:focus {
    box-shadow: none;
  }
  .navHeight .navbar-collapse {
    background: var(--brand);
    opacity: 0.9;
    padding: 10px;
    height: 50vh;
    transition: ease-in-out 1s;
  }
  .navHeight .navbar-collapse .nav-item {
    padding: 10px;
  }
  
}